body {
    background-image: url("Képek/44590336_99a189b620dbf1740bd6e196bfd8fa5e_wm.jpg");
    background-size: cover;
}

#cim {
    text-align: center;
    font-size: 250%;
    font-family: Arial
}

#kep {
    width: 50%;
    height: 50%;
}
